<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>RBAC</title>
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
            <h4>RBAC</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/auth/logout">Logout</a></li>
            </ul>
        </div>    
    </nav>

    <div class="container mt-4">
        {{#if message }}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>{{message}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        
        {{/if}}
       <div class="card" >
           <div class="card-header">Add User</div>
        <div class="card-body">
            <form action="/auth/addUser" method="POST">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="input-group mb-3">
                    <label class="input-group-text" for="role">Roles</label>
                    <select class="form-select" id="role" name="role" required>
                        <option value="" disabled selected>Assign Role...</option>
                        <option value="Admin">Admin</option>
                        <option value="Editor">Editor</option>
                        <option value="Basic">Basic</option>
                    </select>
                </div>
                <ul>
                    <li><button type="submit" class="btn btn-primary">Create User</button></li>
                    <li><a class="btn btn-primary " href="/dashboard" role="button">Dashboard</a></li>
                </ul>
            </form>
            
        </div>
        
        
    </div>
    <script src="/style.js"></script>
</body>
</html>