<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>RBAC</title>
</head>
<body>
    <nav>
        <h4>RBAC</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
       <div class="jumbotron">
        <h1 class="display-4">Login</h1>
        <p class="lead">this is a simple jumbotron style</p> 
        <hr class="my-4">
        <p>it uses utility classses for typography</p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">login</a>
       </div>
    </div>
</body>
</html>